<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>View All Ingredients</title>
</head>
<body>
<div class="container">
<form> 
<div class="table-responsive">
<table class="table table-hover"> 
<tr th:each="currentIngredients : ${ingredients}">
	<td th:text="${currentIngredients.id}"/></td>
    <td th:text="${currentIngredients.name}"/></td>
    <td th:text="${currentIngredients.category}"/></td>
    <td><a th:href="@{/editIngredients/{id}(id=${currentIngredients.id})}">Edit</a></td>
	<td><a th:href="@{/deleteIngredients/{id}(id=${currentIngredients.id})}">Delete</a></td>
</tr>
</table>
</div>
</form>
<a class="btn btn-info" href="inputIngredient">Add a new Ingredients</a>
<a class="btn btn-info" href="/">Return to Menu</a>
</div>
</body>
</html>