<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add An Ingredient</title>
</head>
<body>
<form th:object="${newIngredient}" th:action="@{/updateIngredient/{id}(id=${newIngredient.id})}" method=POST>

Name:<input name="name"size="20" th:field="*{name}"> <br />
Category:<input name="category"size="20" th:field="*{category}"> <br />

<input name="Submit" type="submit" value="submit" />
</form>

<a href="viewAllIngredients">View all Ingredients</a>
</body>
</html>