<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Meal Plan Viewer</title>
</head>
<body>
<form>
<table>
<tr>
	<td colspan="2"><strong>Recipes</strong></td>
</tr>
<tr>
	<td>ID</td>
	<td>Name</td>
	<td>Category</td>
</tr>
<tr th:each="currentRecipes : ${recipes}">
	<td th:text="${currentRecipes.id}"/>
	<td th:text="${currentRecipes.name}"/>
	<td th:text="${currentRecipes.category}"/>
</tr>
<tr>
	<td colspan="2">&nbsp;</td>
</tr>
<tr>
	<td colspan="2"><strong>Ingredients</strong></td>
</tr>
<tr>
	<td>ID</td>
	<td>Name</td>
	<td>Category</td>
</tr>
<tr th:each="currentIngredients : ${ingredients}">
	<td th:text="${currentIngredients.id}"/>
    <td th:text="${currentIngredients.name}"/>
    <td th:text="${currentIngredients.category}"/>
</tr>
</table>
</form>
<br>
<a href="/">Return to Menu</a>
</body>
</html>