<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Meal Plan Viewer</title>
</head>
<body>
<form>
<table>
<tr th:each="currentRecipes : ${recipes}">
 <td th:text="${currentRecipes.id}"/>
	<td th:text="${currentRecipes.name}"/>
	<td th:text="${currentRecipes.category}"/>
	<td><a th:href="@{/edit/{id}(id=${currentRecipes.id})}">Edit</a></td>
	<td><a th:href="@{/delete/{id}(id=${currentRecipes.id})}">Delete</a></td>
	 
</tr>
</table>
</form>
<a href="/">Return to Menu</a>
</body>
</html>